# @package _global_

defaults:
  - model/default_model@model
  - _self_

dataset:
  name: LDS
  version: Debug
  ssm_params:
    Nlds: 3
    n_disc_states: 2
    latent_dim: 2
    obs_dim: 3
    random_projection: true
    rand_dim: 20
    partial_sup: true
    partial_obs: false
    full_sup: false
    overlap: 2
    normalize: true
    seed: 10
    time_bins_train: 200000
    time_bins_test: 50000
    z_timescale: [.975,.975,.975]

model:
  # Override specific parameters for LDS dataset
  grad_norm_inf: false
  grad_alpha: 0.5
  grad_alpha_inf: 1.0
  L1_alpha: ${resolve_default:0.0,${L1_alpha}}
  L1_alpha_inf: ${resolve_default:0.0,${L1_alpha_inf}}
  L1_alpha_r2: 0.0
  L1_inf_r2: 0.0
  L1_inf_w: 0.0
  L1_inf_r: 0.0
  lmda_r: 0.0
  lmda_r2: 0.0
  cos_eta: 5.0
  clip_grad: 500.0
  weight_decay: 0.00001

train:
  version: ${resolve_default:0,${version}}
  num_epochs: 1000
  sequence_length: 200
  overlap_factor: 10
  stack_inputs: true
  save_summary_steps: 5
  show_progress: true
  show_inf_progress: false
  test: false
  batch_size_input: true
  batch_size: 32768
